{% extends 'admin/layout.html' %}
{% load static %}
{% block title %}Add Coupon{% endblock %}
{% block content %}
<style>
    input[type=date] {
        width: 100%;
        height: 50px;
        border: 1px solid #b8bcc9;
        padding: 0 15px;
    }
</style>
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Product Add coupon</h4>
                    <h6>Create new product coupon</h6>
                </div>
            </div>
            {% if messages%}
                {% for message in messages%}
                    <p>{{message}}</p>
                {% endfor%}
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-lg-12 col-sm-6 col-12" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                                <div class="form-group col-lg-5 col-12">
                                    <label>Coupon Name</label>
                                    <input type="text" name="name" pattern="[^\s]+" placeholder="Coupon Name">
                                </div>
                                <div class="form-group col-lg-5 col-12">
                                    <label>Percentage</label>
                                    <input type="text" id="per" name="percentage" required  pattern="[^\s]+" placeholder="Percentage" maxlength="2" onkeyup="if (/[^|0-9]+/g.test(this.value)) this.value = this.value.replace(/[^|0-9]+/g,'')" >
                                </div>
                                <div class="form-group col-lg-5 col-12">
                                    <label>Minimum amount for eligibility</label>
                                    <input type="text" name="min_amount" required pattern="[^\s]+" placeholder="Minimum amount for eligibility" maxlength="10" onkeyup="if (/[^|0-9]+/g.test(this.value)) this.value = this.value.replace(/[^|0-9]+/g,'')" >
                                </div>
                                <div class="form-group col-lg-5 col-12">
                                    <label>Maximum amount for eligibility</label>
                                    <input type="text" name="max_amount" required  pattern="[^\s]+" placeholder="Maximum amount for eligibility" maxlength="10" onkeyup="if (/[^|0-9]+/g.test(this.value)) this.value = this.value.replace(/[^|0-9]+/g,'')" >
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Expiry Date </label>
                                    <div class="input-groupicon">
                                        <input type="date" placeholder="DD-MM-YYYY"  min="{{ current_date }}" id="date" name="date" required>
                                        <!-- <div class="addonset">
                                            <img src="{% static 'img_admin/icons/calendars.svg' %}" alt="img">
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" name="description" required>This is a samble description</textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button href="javascript:void(0);" type="submit" class="btn btn-submit me-2">Submit</button>
                                <!-- <a href="categorylist.html" class="btn btn-cancel">Cancel</a> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        // Get today's date in the format 'YYYY-MM-DD'
        const today = new Date().toISOString().split('T')[0];
        
        // Set the minimum date of the input field to today
        document.getElementById("date").setAttribute('min', today);
    </script>
    
{% endblock %}
