{% extends 'admin/layout.html' %}
{% load static %}
{% block title %}users list{% endblock %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>User List</h4>
                <h6>Manage your User</h6>
            </div>
            <div class="page-btn">
                <a href="{% url 'add_user'%}" class="btn btn-added"><img src="{% static 'img_admin/icons/plus.svg' %}" alt="img">Add User</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="{% static 'img_admin/icons/filter.svg' %}" alt="img">
                                <span><img src="{% static 'img_admin/icons/closes.svg' %}" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="{% static 'img_admin/icons/search-white.svg' %}" alt="img"></a>
                        </div>
                    </div>
                    
                </div>

                <div class="card" id="filter_inputs">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Enter User Name">
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Enter Phone">
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Enter Email">
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="datetimepicker cal-icon" placeholder="Choose Date">
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-group">
                                    <select class="select">
                                        <option>Disable</option>
                                        <option>Enable</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-6 col-12 ms-auto">
                                <div class="form-group">
                                    <a class="btn btn-filters ms-auto"><img src="{% static 'img_admin/icons/search-whites.svg' %}"
                                            alt="img"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>User name </th>
                                <th>Phone</th>
                                <th>email</th>
                                <th>Date Joined</th>
                                <th>Last logined</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>


                            {% for user in users %}
                                <tr>
                                    <td>{{user.id}}</td>
                                    <td>{{user.username}}</td>
                                    <td>+91 {{user.phone}} </td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.date_joined}}</td>
                                    <td>{{user.last_login}}</td>
                                    <td>
                                        <a class="me-3" href="{% url 'edit_user' user.id %}">
                                            <img src="{% static 'img_admin/icons/edit.svg' %}" alt="img">
                                        </a>
                                        <a class="me-3 confirm-text" href="{% url 'restrict_users' user.id %}">
                                            {% if user.is_active %}
                                                <span class="bg-lightred badges">
                                                    Block
                                                </span>
                                            {% else %}
                                                <span class="bg-lightgreen badges">
                                                    Unblock
                                                </span>
                                            {% endif %}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}