{% extends 'admin/layout.html' %}
{% load static %}
{% block title %}Variants list{% endblock %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Variants List</h4>
                <h6>Manage your Variants</h6>
            </div>
            <div class="page-btn">
                <a href="{% url 'add_variant' product.id %}" class="btn btn-added"><img src="{% static 'img_admin/icons/plus.svg' %}" alt="img"
                        class="me-1">Add New Variants</a>
            </div>
        </div>
        {% if messages%}
                {% for message in messages%}
                    <p style="color: blueviolet;">{{message}}</p>
                {% endfor%}
        {% endif %}
        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="{% static 'img_admin/icons/filter.svg' %}" alt="img">
                                <span><img src="{% static 'img_admin/icons/closes.svg' %}" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="{% static 'img_admin/icons/search-white.svg' %}"
                                    alt="img"></a>
                        </div>
                    </div>
                </div>

                <div class="card mb-0" id="filter_inputs">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg col-sm-6 col-12">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>Choose Product</option>
                                                <option>Macbook pro</option>
                                                <option>Orange</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg col-sm-6 col-12">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>Choose Category</option>
                                                <option>Computers</option>
                                                <option>Fruits</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg col-sm-6 col-12">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>Choose Sub Category</option>
                                                <option>Computer</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg col-sm-6 col-12">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>Brand</option>
                                                <option>N/D</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg col-sm-6 col-12 ">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>Price</option>
                                                <option>150.00</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-6 col-12">
                                        <div class="form-group">
                                            <a class="btn btn-filters ms-auto"><img
                                                    src="{% static 'img_admin/icons/search-whites.svg' %}" alt="img"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>Variant</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Color </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for variant in variants %}
                                <tr>
                                    <td class="productimgname">
                                        <a href="{% url 'edit_variant' variant.id%}" class="product-img">
                                            <img src="{{ variant.image.url }}" alt="product">
                                        </a>
                                        <a href="{% url 'edit_variant' variant.id%}">{{variant.rom}}</a>
                                    </td>
                                    <td>{{variant.quantity}}</td>
                                    <td>{{variant.price}}</td>
                                    <td>{{variant.color}}</td>
                                    <td>
                                        <a class="me-3 confirm-text" href="{% url 'edit_variant_status' variant.id %}">
                                            {% if variant.is_active %}
                                                <span class="bg-lightred badges">
                                                    Block
                                                </span>
                                            {% else %}
                                                <span class="bg-lightgreen badges">
                                                    Unblock
                                                </span>
                                            {% endif %}
                                        </a>
                                        <!-- <a class="me-3" href="{% url 'edit_variant' variant.id%}">
                                            <img src="{% static 'img_admin/icons/edit.svg' %}" alt="img">
                                        </a> -->
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}